:root{
    --main-color:#557BA8;
    --inactive: #B7B7B7;
    --main-highlight:#9796C5;
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto-light-webfont.woff2) format('woff2'), url(../fonts/roboto-light-webfont.woff) format('woff');
    font-weight: 100
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto-regular-webfont.woff2) format('woff2'), url(../fonts/roboto-regular-webfont.woff) format('woff');
    font-weight: 400
}

@font-face {
    font-family: Roboto;
    src: url(../fonts/roboto-bold-webfont.woff2) format('woff2'), url(../fonts/roboto-bold-webfont.woff) format('woff');
    font-weight: 700
}
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    color:var(--main-color);
}
a{
    color:var(--main-color);
}

a:hover{
    color:#E53935;
    text-decoration: none;
}

body{
    font-family: "Roboto";
    background:red;
    background: #F4F6F9;
    color:var(--main-color);

}

.wrapper{
    display: flex;
}

/* ##### START ---- GRID-SYSTEM ######  */
.row{
    margin-bottom: 53px;
}
.container{
    max-width: 100% !important;
    margin:0 56px 100px;
    padding: 0;
}
/* ##### END ---- GRID-SYSTEM ######  */


/*Navbar Menu ####### START*/

.bar{
    position: absolute;
    left: -16px;
    bottom: 0;
    width: 124%;
    height: 1px;
    background: var(--inactive);
}

.navbar{
    font-size: 13px;
    background:#fff;
    width:  243px;
    height: 100vh;
    align-items: flex-start;
    -webkit-box-shadow: -10px 3px 19px 1px rgba(0,0,0,1);
    -moz-box-shadow: -10px 3px 19px 1px rgba(0,0,0,1);
    box-shadow: -10px 3px 19px 1px rgba(0,0,0,1);
}

.nav-link.no-accent{
    color:var(--inactive);
}

.navbar .logo{
    position: relative;
}

.nav-link{
    height: 55px;
}

.nav-link .nav-link-icon{
    margin-right: 10px;
}
/*Navbar Menu ####### END*/



 /* ##### START ---- CARD ######  */
.card {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 10px;
    border:none;
    -webkit-box-shadow: 1px 2px 24px -8px gray;
    -moz-box-shadow: 1px 2px 24px -8px ;
    box-shadow: 1px 2px 24px -8px gray;
    margin:auto;
    padding-bottom: 15px;
}
.card-body{
    padding: 0  ;
}

.card-title{
    color:var(--main-highlight);
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #E7E7E7;
    margin-bottom: 0;
    padding-bottom: 12px;
    padding:20px 20px 15px 20px;
}
 /* ##### END ---- CARD ######  */




 /* ##### START ---- CARD LIST-Group ######  */

.card .list-group-item{
    padding-left: 0;
    border:0;
    padding:6px 20px;
    font-size: 15px;
}
.card .list-group-item:first-child{
    margin-top: 11px;
}
/* ##### END ----CARD LIST-Group ######  */




/* ##### START ---- BREADCRUMB ######  */
.breadcrumb{
    background:none;
    padding-left: 0;
}
.breadcrumb-item{
    color:#999999;
}
.breadcrumb-active{
    font-weight: bold;
}
/* ##### END ---- BREADCRUMB ######  */


/* ##### START ---- Info-Tabs ######  */
.info-tab{
    max-width: 941px;
}
.info-tab .nav-tabs{
    background-color:white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

/* LINKS */
.info-tab .nav-tabs .nav-link{
    padding:18px 23px;
     color:var(--inactive);
    border:none;
}
.info-tab .nav-tabs .nav-link.active{
    color: var(--main-color);
    font-weight: bold;
    border-bottom:3px solid var(--main-highlight);
}

/* CONTENT */

.info-tab .tab-content{
    background-color: white;
}

.tab-pane table{
    width:100%
}
.tab-pane table tr {
    padding:18px 23px;
    display: block;
    border-bottom: 1px solid #dee2e6;
}

.tab-pane td{
    color:var(--inactive);
    width: 257px;
}



/* ##### END ---- Info-Tabs ######  */


@media screen and (min-width: 992px){
 .card{
     margin:0;
     max-width: 294px;
     min-height: 155px;
 }
}