@inactive : #B7B7B7;
@main-color:#557BA8;
@main-highlight:#9796C5;


@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto-light-webfont.woff2) format('woff2'), url(../fonts/roboto-light-webfont.woff) format('woff');
  font-weight: 100
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto-regular-webfont.woff2) format('woff2'), url(../fonts/roboto-regular-webfont.woff) format('woff');
  font-weight: 400
}

@font-face {
  font-family: Roboto;
  src: url(../fonts/roboto-bold-webfont.woff2) format('woff2'), url(../fonts/roboto-bold-webfont.woff) format('woff');
  font-weight: 700
}
*{
  margin:0;
  padding: 0;
  box-sizing: border-box;
  color:@main-color;
}
a{
  color:@main-color;
  &:hover{
    color:#E53935;
    text-decoration: none;
  }
}
body{
  font-family: "Roboto";
  background: #F4F6F9;
}

.wrapper{
  display: flex;
}

/* ##### START ---- GRID-SYSTEM ######  */
.row{
  margin-bottom: 53px;
}
.container{
  max-width: 100% !important;
  margin:0 56px 100px;
  padding: 0;
}
/* ##### END ---- GRID-SYSTEM ######  */


/*Navbar Menu ####### START*/
.navbar{
  font-size: 13px;
  background:#fff;
  width:  243px;
  height: 100vh;
  align-items: flex-start;
  -webkit-box-shadow: -10px 3px 19px 1px rgba(0,0,0,1);
  -moz-box-shadow: -10px 3px 19px 1px rgba(0,0,0,1);
  box-shadow: -10px 3px 19px 1px rgba(0,0,0,1);
  .bar{
    position: absolute;
    left: -16px;
    bottom: 0;
    width: 124%;
    height: 1px;
    background: @inactive);
  }
  .logo{
    position: relative;
  }

  .nav-link{
    height: 55px;
    &.no-accent{
      color:@inactive;
    }
    .nav-link-icon{
      margin-right: 10px;
    }
  }
}



/* ##### START ---- CARD ######  */
.card {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 10px;
  border:none;
  -webkit-box-shadow: 1px 2px 24px -8px gray;
  -moz-box-shadow: 1px 2px 24px -8px ;
  box-shadow: 1px 2px 24px -8px gray;
  margin:auto;
  padding-bottom: 15px;
  .card-body{
    padding: 0  ;
  }
  .card-title{
    color:@main-highlight;
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #E7E7E7;
    margin-bottom: 0;
    padding-bottom: 12px;
    padding:20px 20px 15px 20px;
  }
  .list-group-item{
    padding-left: 0;
    border:0;
    padding:6px 20px;
    font-size: 15px;
    &:first-child{
      margin-top: 11px;
    }
  }

}
/* ##### END ---- CARD ######  */


/* ##### START ---- BREADCRUMB ######  */
.breadcrumb{
  background:none;
  padding-left: 0;
  .breadcrumb-item{
    color:#999999;
  }
  .breadcrumb-active{
    font-weight: bold;
  }
}


/* ##### END ---- BREADCRUMB ######  */


/* ##### START ---- Info-Tabs ######  */
.info-tab{
  max-width: 941px;
  .nav-tabs{
    background-color:white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    .nav-link{
      padding:18px 23px;
      color:var(--inactive);
      border:none;
      &.active{
        color: var(--main-color);
        font-weight: bold;
        border-bottom:3px solid @main-highlight;
      }
    }
  }
  .tab-content{
    background-color: white;
    .tab-pane table{
      width:100%;
       tr {
        padding:18px 23px;
        display: block;
        border-bottom: 1px solid #dee2e6;
      }
      td{
        color:var(--inactive);
        width: 257px;
      }
    }
  }
}

@media screen and (min-width: 992px){
  .card{
    margin:0;
    max-width: 294px;
    min-height: 155px;
  }
}